{% extends "base.html" %}
{% load static %}

{% block title%}
            Mi Perfil
{% endblock %}

{% block contenidoPrincipal %}

<br>

<h1>Mi perfil</h1>


{% if MiUsuario.imagen_perfil %}
    <img src="{{MiUsuario.imagen_perfil.url}}" alt="" width="10%">
{% endif %}

<br>
<h3>Nombre: {{MiUsuario.username}}</h3>
<h3>Telefono: {{MiUsuario.telefono}}</h3>
<h3>Biografia: {{MiUsuario.biografia}}</h3>
<h3>Mi Url: {{MiUsuario.url_perfil}}</h3>


<h3><a href="{% url 'usuarios:editar_perfil' id_perfil=MiUsuario.id %}">Editar</a></li></h3>





{% endblock %}